<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Video ID</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{inc @index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.video_id}}</td>
                <td>
                    <a class="btn btn-primary" href="/details/{{this.name}}">Chi tiết</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-music" data-bs-id="{{this._id}}">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-music" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cẩn thận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa !! 
      </div>
      <div class="modal-footer">
        <button id="btn-delete"  type="button" class="btn btn-danger ">Xóa</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-form" action="" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const deleteModal = document.getElementById('delete-music')
        deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget
        const musicId = button.getAttribute('data-bs-id')
        const btnDelete = document.getElementById('btn-delete')
        btnDelete.onclick= function() {
            const formDelete = document.forms['delete-form'];
            formDelete.action = `/me/delete/${musicId}?_method=DELETE`;
            formDelete.submit()
        }
        })
    })
</script>